iframe#ca-alert-frame {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2147483647;
  max-width: 550px;
  width: 85%;
  border: 3.5px solid #fbad23;
  box-shadow: 0 25px 150px 15px #000000bf;
}

iframe#ca-alert-frame.hidden {
  display: none;
}

iframe#ca-alert-frame.temphidden {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
